/* .aboutbg{
    background-image: url("E:\OES Project\online_education_service\project\public\Images\AboutUs\about.jpg");
    width: 100%;
    height: 31.25rem;
    
} */

.aligntext{
    text-align: center;
    margin-top: 13rem;
}

.textblack{

    color: #4b4b4b;

}


.bgsection{
    background-color: #18dcff;
    width: 100%;
    height: 40rem;
}

.iconcolor4{
    color: #18dcff;
   
   
}









