.bgcourses{
    font-size: 45px;

}




.container1 {
	padding: 40px 20px 20px 20px;
	width: 100%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
}

.card_item {
	padding: 5px 10px;
	width: 25%;
	/* text-align: center; */
}

.container1 .card_item:hover {
	/* transform: scale(1.02);
	transition: transform .3s; */
	cursor: pointer;
}

.container1 .card_inner {
	background: rgba(253, 253, 253, 0.808);
	border-radius: 10px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 470px;
	width: 100%;
	box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}

.container1 .card_item img {
	width: 280px;
	height: 170px;
	margin-bottom: 10px;
	border-radius: 5%;
	align-items: center;
	transition: transform .2s;
}

.container1 .card_item .userName {
	color: #203150;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container1 .card_item .userUrl {
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
	word-wrap: break-word;
	color: #888B9E;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.container1 .card_item .userName:hover{
	color:  #18dcff;
}

.container1 .card_item .rating {
	font-size: 14px;
	font-weight: 100;
	margin: 5px 10 10px;
	word-wrap: break-word;
	color: #888B9E;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bgspan{
    background-color:#fd9644;
    height: fit-content;
    border-radius: 20%;
	
}





@media screen and (max-width: 1024px) {
	.container1 .card_item {
		width: 33%;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.container1 .card_item {
		width: 50%;
		justify-content: center;
	}
	.wrapper .header {
		font-size: 16px;
		height: 50px;
	}
}

@media screen and (max-width: 568px) {
	.container1 .card_item {
		width: 80%;
		margin-left: -20px;
		justify-content: center;


	}
}

@media screen and (max-width: 320px) {
	.container1 .card_item {
		width: 100%;
		justify-content: center;

	}
}


/* all courses search bar css 👇 */

.search{
	position: relative;
	box-shadow: 0 0 40px rgba(51, 51, 51, .1);
	  
	}

	.search input{

	 height: 50px;
	 text-indent: 25px;
	 border: 2px solid #d6d4d4;
	 


	}


	.search input:focus{

	 box-shadow: none;
	 border: 2px solid #18dcff;


	}

	.search .fa-search{

	 position: absolute;
	 top: 20px;
	 left: 16px;

	}

	

/* all courses search bar css end here  */

.marggin{
	margin-left: 2rem;
	
}

.coloclass:active{
	color: blue;
}


/* specific courses  css start here 👇 */

.courseImage{
	width: 100%;
	height: 70vh;
}

.userUrl {
	font-size: 15px;
	font-weight: 100;
	margin: 5px 0 10px;
	word-wrap: break-word;
	color: #888B9E;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.userUrl1 {
	font-size: 16px;
	font-weight: 150;
	color: #888B9E;
	
}
.perDescr{
	font-size: 15px;
	font-weight: 100;
	margin: 5px 0 10px;
	color: #888B9E;
}

.buycourse{
	width: 15rem;
}



@media(max-width:1010px){
	.media1{
		display: flex;
		flex-direction: column;
	}
	.perDescr{
		display: flex;
		
	}
	.courseImage{
		width: fit-content;
		height: 400px;
	}
	


}





@media(max-width:1000px){
	.buycourse{
		width: 10rem;
	}
}

@media(max-width:570px){
	.buycourse{
		width: 8rem;
	}
}

@media(max-width:912px){
	.media1 .img3{
		width: 620px;
		height: 350px;
		text-align: center;
	}
	.media1 .courseImage{
		width: fit-content;
		height: 400px;
		text-align: center;
	}
	.textmedia {
		width: 620px;
		justify-content: center;
		
	}
	.textmedia h5{
		font-size: 30px;
	}
	.textmedia span{
		font-size: 23px;
	}
	.textmedia p{
		font-size: 25px;
	}
	.mediaa2{
		display: flex;
		flex-direction: column;
	}
	.mediaa2 span{
		font-size: 25px;
	}
   
}

@media(max-width:400px){
	.media1 .img3{
		width: 250px;
		height: 200px;
		text-align: center;
	}
	.media1 .courseImage{
		width: 350px;
		height: 250px;
		text-align: center;
	}
	.textmedia {
		width: 350px;
		justify-content: center;
	}
	.mediaa2{
		display: flex;
		flex-direction: column;
	}


	
}





/* specificCourse navbar css start here 👇 */


