/* .imgbg{
    background-image: url("E:\OES Project\online_education_service\project\public\Images\CartImage\cartbg.png");
    width: 100%;
    height: 35vh;

} */
.hcard{
    font-size: 45px;
}
.btncol{
    background-color:#04d2c8;
    color: #fff;
    border-color:#04d2c8;
    font-size: 12px;
    font-weight: 800;
}
.btncol:hover{
    background-color: #11b6ae;
    border-color:#11b6ae;
}