/* *{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

 .heading{
    color:#444;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.vdContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.vdContainer .main-video{
    background: #fff;
    border-radius:5px;
    padding:10px;
}
.vdContainer .main-video video{
    width: 100%;
    border-radius: 5px;
}
.vdContainer .main-video .title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vdContainer .video-list{
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}
.vdContainer .video-list::-webkit-scrollbar{
    width: 7px;
}
.vdContainer .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}
.vdContainer .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}

.vdContainer .video-list .vid video{

        width: 25%;
        border-radius: 5px;
}
.vdContainer .video-list .vid{
    display: flex;
    background: #f7f7f7;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.vdContainer .video-list .vid:hover{
    background: #eee;
}
.vdContainer .video-list .vid.active{
    background: #2980b9;
}

.vdContainer .video-list .vid.active .title{
    color: #fff;
}
.vdContainer .video-list .vid .title{
    color: #333;
    font-size: 17px;
}

@media (max-width:991px){
    .vdContainer{
 
        grid-template-columns: 1.5fr 1fr;
       
        padding: 10px;
    }
}

@media (max-width:768px){
    .vdContainer{
 
        grid-template-columns:1fr;
    }
} 










/* 




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .main-video {
    margin-bottom: 20px;
  }
  
  .main-video video {
    width: 100%;
    max-width: 600px;
  }
  
  .video-playlist {
    width: 100%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .video {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .video p,
  .video .time {
    margin: 0;
    font-size: 14px;
  }
  
  .video img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .video.active {
    background-color: #f4f4f4;
  }
  
   */