#evcalIcon1{
    font-size: 20px;
    color: #04d2c8;
}
#evtelIcon2{
    font-size: 18px;
    color: #04d2c8;
}
#evSpecAlarm{
    font-size: 22px;
}

@media (max-width:600px){

    .mapclass{

        width: auto;
        height: auto;

    }
}

