.imgbg{
    /* background-image: url("E:\OES Project\online_education_service\project\public\Images\Faq\title-area-background.png");
    width: 100%;
    height:35vh; */
    background-color: #affafa;
  }
a:hover{
color:#04d2c8; ;
}