.quiz-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .course-name {
    color: #007bff;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .option-label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .option {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .question-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .question-button:hover {
    background-color: #0056b3;
  }
  
  /* Modal Styles */
  .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ReactModal__Content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .ReactModal__Content h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .ReactModal__Content p {
    margin-bottom: 10px;
  }
  
  .ReactModal__Content button {
    margin-top: 20px;
  }
  